.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.order-invoice a {
  color: #5d6975;
  text-decoration: underline;
}

.order-invoice header {
  padding: 1px 0;
  margin-bottom: 10px;
}

#logo {
  text-align: center;
  margin-bottom: 5px;
}

#logo img {
  width: 180px;
}

.order-invoice h1 {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px 0;
  /* background: url(../../../public/images/dimension.png); */
}

#project {
  float: left;
}

#project span {
  color: #5d6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;
}

.order-invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.order-invoice table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

.order-invoice table th,
.order-invoice table td {
  text-align: center;
}

.order-invoice table th {
  padding: 5px 20px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

.order-invoice table .service,
.order-invoice table .desc {
  text-align: left;
}

.order-invoice table td {
  padding: 20px;
  text-align: right;
}

.order-invoice table td.service,
.order-invoice table td.desc {
  vertical-align: top;
}

.order-invoice table td.unit,
.order-invoice table td.qty,
.order-invoice table td.total {
  font-size: 1.2em;
}

.order-invoice table td.grand {
  border-top: 1px solid #5d6975;
}

#notices .notice {
  color: #5d6975;
  font-size: 1.2em;
}

.order-invoice footer {
  color: #5d6975;
  width: 100%;
  height: 30px;
  border-top: 1px solid #c1ced9;
  padding: 8px 0;
  text-align: center;
}
.signature-box,
.stamp-box {
  border: 1px solid #000;
  padding: 10px;
  width: 200px; /* Điều chỉnh kích thước khung chữ ký */
  height: 100px; /* Điều chỉnh kích thước khung chữ ký */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin: 0 auto; /* Để nằm giữa theo chiều ngang */
}

.signature-img,
.stamp-img {
  max-width: 100%;
  max-height: 100%;
}

.signature-info p,
.stamp-info p {
  margin: 0;
  line-height: 1.5;
}
.signature-box {
  display: flex;
  justify-content: center !important;
}
------------------------------------------------------------------------------------------------------------------------------------
  .withdraw-invoice
  a {
  color: #5d6975;
  text-decoration: underline;
}
.withdraw-invoice header {
  padding: 1px 0;
  margin-bottom: 10px;
}
.withdraw-invoice h1 {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px 0;
  /* background: url(../../../public/images/dimension.png); */
}
.withdraw-invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.withdraw-invoice table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

.withdraw-invoice table th,
.withdraw-invoice table td {
  text-align: center;
}

.withdraw-invoice table th {
  padding: 15px 20px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

.withdraw-invoice table .service,
.withdraw-invoice table .desc {
  text-align: left;
}

.withdraw-invoice table td {
  padding: 20px;
  text-align: right;
}

.withdraw-invoice table td.service,
.withdraw-invoice table td.desc {
  vertical-align: top;
}

.withdraw-invoice table td.unit,
.withdraw-invoice table td.qty,
.withdraw-invoice table td.total {
  font-size: 1.2em;
}

.withdraw-invoice table td.grand {
  border-top: 1px solid #5d6975;
}
.withdraw-invoice footer {
  color: #5d6975;
  width: 100%;
  height: 30px;
  border-top: 1px solid #c1ced9;
  padding: 8px 0;
  text-align: center;
}
------------------------------------------------------------------------------------------------------------------------------------
  .transaction-invoice
  a {
  color: #5d6975;
  text-decoration: underline;
}
.transaction-invoice header {
  padding: 1px 0;
  margin-bottom: 10px;
}
.transaction-invoice h1 {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px 0;
  /* background: url(../../../public/images/dimension.png); */
}
.transaction-invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.transaction-invoice table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

.transaction-invoice table th,
.transaction-invoice table td {
  text-align: center;
}

.transaction-invoice table th {
  padding: 5px 20px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

.transaction-invoice table .service,
.transaction-invoice table .desc {
  text-align: left;
}

.transaction-invoice table td {
  padding: 20px;
  text-align: right;
}

.transaction-invoice table td.service,
.transaction-invoice table td.desc {
  vertical-align: top;
}

.transaction-invoice table td.unit,
.transaction-invoice table td.qty,
.transaction-invoice table td.total {
  font-size: 1.2em;
}

.transaction-invoice table td.grand {
  border-top: 1px solid #5d6975;
}
.transaction-invoice footer {
  color: #5d6975;
  width: 100%;
  height: 30px;
  border-top: 1px solid #c1ced9;
  padding: 8px 0;
  text-align: center;
}
