/* CSS cho khung hình ảnh */
.image-preview {
  width: 100%;
  padding-top: 70%; /* Tỷ lệ 16:9 */
  position: relative;
  border: 1px solid #c4930c; /* Đường viền để phân biệt khung hình ảnh */
  margin-bottom: 15px; /* Khoảng cách giữa các khung hình ảnh */
}

/* CSS cho ảnh được tải lên */
.image-preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo ảnh không bị biến dạng khi thu nhỏ hoặc mở rộng */
}

/* CSS cho nút xóa */
.remove-image-btn {
  margin-top: 10px; /* Khoảng cách giữa nút xóa và khung hình ảnh */
}
